<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teeny.wms.core.repository.CheckBillRepository">
    <cache />

    <select id="countByWarehousId" resultType="int">
        SELECT count(*) FROM ${account}.dbo.pda_CheckBill
        <where>
            <if test="warehouseId != 0">
                s_id=#{warehouseId}
            </if>
        </where>
    </select>

    <!--q1改为整货数量字段，q2改为拼箱件数字段，q3改为打包件数字段-->

    <select id="getIfoByBillNo" resultType="com.teeny.wms.dto.ReviewDTO">
       SELECT c.billnumber  AS billNo,d.q1 AS wholeQuantity, d.q2 AS pxCount, d.q3 AS packCount,
           c.FirstStates AS priority, c.TempStore AS tempArea, c.pdastates AS status,
           c.billstates AS documentStatus, c.remark AS billRemark,
           cl.name AS customer, cl.RoadName AS deliveryLine,
           (SELECT count(*) AS total FROM ${account}.dbo.pda_CheckBill_B b, ${account}.dbo.pda_CheckBill_B b1 WHERE b.bill_id=b1.bill_id AND b.PickType=1 AND b1.barcode=#{billNo}) AS wholeQuantityTotal,
           (SELECT count(*) AS total FROM ${account}.dbo.pda_CheckBill_B b, ${account}.dbo.pda_CheckBill_B b1 WHERE b.bill_id=b1.bill_id AND b.PickType=2 AND b1.barcode=#{billNo}) AS pxCountTotal,
           (SELECT count(*) AS total FROM ${account}.dbo.pda_CheckBill_B b, ${account}.dbo.pda_CheckBill_B b1 WHERE b.bill_id=b1.bill_id AND b.PickType=3 AND b1.barcode=#{billNo}) AS packCountTotal

       FROM ${account}.dbo.pda_CheckBill c
           LEFT JOIN ${account}.dbo.pda_clients cl ON c.c_id=cl.c_id
           LEFT JOIN ${account}.dbo.pda_CheckBill_D d ON d.bill_id=c.billid
       WHERE c.billnumber=(SELECT b1.bill_id FROM pda_CheckBill_B b1 WHERE b1.barcode=#{billNo})
    </select>

    <select id="getBills" resultType="com.teeny.wms.dto.CommonDTO">
        SELECT b.bill_id AS id, b.barcode AS name FROM pda_CheckBill_B b LEFT JOIN pda_CheckBill b1 ON b.bill_id=b1.billid
        <where>
            <if test="sId != 0">
                b1.s_id=#{sId}
            </if>
        </where>
    </select>

</mapper>
