<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teeny.wms.core.repository.RecBillRepository">
    <cache/>

    <select id="countByWarehousId" resultType="int">
        SELECT count(*) FROM ${account}.dbo.pda_RecBill p
        <where>
            <if test="warehouseId != 0">
                S_id=#{warehouseId}
            </if>
        </where>
    </select>

    <select id="getGoodsByBillId" resultType="com.teeny.wms.dto.GoodsDTO">
        SELECT
            d.smb_id     AS id,
            d.TaxPrice   AS retailPrice,
            d.Yqty       AS amount,
            c.name       AS manufacturer,
            d.Batchno    AS lotNo,
            p.name       AS goodsName,
            p.standard   AS specification,
            d.Validdate  AS validityDate,
            p.makearea   AS produceArea,
            d.DealStates AS status
        FROM ${account}.dbo.pda_RecBill_D d
            LEFT JOIN ${account}.dbo.pda_RecBill b ON b.billid=d.bill_id
            LEFT JOIN ${account}.dbo.pda_Products p ON d.p_id = p.p_id
            LEFT JOIN ${account}.dbo.pda_clients c ON c.c_id = d.Supplier_id
        WHERE b.billnumber = #{orderId}
    </select>

    <insert id="addData">
        INSERT INTO ${account}.dbo.pda_RecBill_D (bill_id, p_id, MakeDate, Validdate, Batchno, Yqty, EligibleQty, TaxPrice, TaxTotal, CostPrice, CostTotal, S_id, Location_id, Supplier_id, DealStates, pdastates)
            SELECT
                d.bill_id,
                d.p_id,
                d.MakeDate,
                #{validityDate},
                #{lotNo},
                d.Yqty,
                #{amount},
                d.TaxPrice,
                d.TaxTotal,
                d.CostPrice,
                d.CostTotal,
                d.S_id,
                d.Location_id,
                d.Supplier_id,
                1,
                1
            FROM ${account}.dbo.pda_RecBill_D d
            WHERE d.smb_id = #{id}
    </insert>

    <select id="getOrderBillWithUnitId" resultType="com.teeny.wms.dto.CommonDTO">
        SELECT billid AS id, billnumber AS name
        FROM ${account}.dbo.pda_RecBill WHERE c_id=#{unitId}
        <if test="sId != 0">
            AND s_id=#{sId}
        </if>
    </select>

</mapper>
