<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teeny.wms.core.repository.StoragesRepository">
    <cache />


    <select id="findAll" parameterType="string" resultType="com.teeny.wms.dto.CommonDTO">
        SELECT
        s.s_id AS id,
        s.name
        FROM ${account}.dbo.pda_storages s
    </select>
</mapper>
