<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teeny.wms.core.repository.TranBillRepository">
    <cache />

    <select id="countByWarehoust" resultType="int">
        SELECT count(*) FROM ${account}.dbo.pda_TranBill p
       <where>
            <if test="warehouseId != 0">
                AND p.sout_id=#{warehouseId}
            </if>
       </where>
    </select>

</mapper>
