<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teeny.wms.core.repository.TranBillRepository">
    <cache />

    <select id="countByWarehousId" resultType="int">
        SELECT count(*) FROM ${account}.dbo.pda_TranBill p
       <where>
            <if test="warehouseId != 0">
                AND p.sout_id=#{warehouseId}
            </if>
       </where>
    </select>

    <select id="getTransferList" resultType="com.teeny.wms.dto.TransferListDTO">
        SELECT  d.smb_id AS id,p.name AS goodsName, d.Batchno AS lotNo,
            p.standard AS standard, p.Factory AS manufacturer,
            p.unit1Name AS unit, d.quantity AS amount,
            d.Validdate AS validateDate, d.MakeDate AS productDate,
            p.barcode, b.sout_id AS exportWId, b.sa_outid AS exportSId,
            d.Location_id AS exportAId, b.sin_id AS importWId,
            d.DealStates AS status,
            b.sin_id AS importWId, b.sa_inid AS importSId, d.location_id2 AS importAId

        FROM ${account}.dbo.pda_TranBill_D d
            LEFT JOIN ${account}.dbo.pda_Products p ON p.p_id=d.p_id
            LEFT JOIN ${account}.dbo.pda_TranBill b ON b.billid=d.bill_id
            WHERE b.billnumber = #{billNo}
    </select>

</mapper>
